@model List<EmployeeTimeViewModel>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Employee Name</th>
                            <th scope="col" class="text-center">Total Time Worked (Hours)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="@(item.TotalTimeWorked < 100 ? "table-danger" : "")">
                                <td><a href="@Url.Action("Detail", "Employee", new { name = item.EmployeeName })">@item.EmployeeName</a></td>
                                <td class="text-center">@item.TotalTimeWorked.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
